<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shorProject </title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;700;900&display=swap" rel="stylesheet">
    <!--<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="container">
        <div class="curved-container">
            <div class="curved">
                <div class="nav-flex nav">
                    <div class="logo-flex logo">ShortenProject</div>
                    <div class="menu-flex menu">
                        <div class="flex-submenu">
                            <div class="flex-submenu-item submenu-item">Short</div>
                            <div class="flex-submenu-item submenu-item">About</div>
                        </div>
                    </div>
                </div>
                <div class="center">
                    <div class="shorten-section">
                        <div class="shorten-element">
                            <div class="start-shorting">
                                <span>Start shorting!</span>
                            </div>
                            <input type="text" name="short-input" id="short-input">
                        </div>
                        <div class="shorten-element">
                            <img src="./img/zorrito.png" width="320">
                        </div>
                    </div>
                </div>
                <div class="background-curved">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="#3f5cef" fill-opacity="1"
                        d="M0,160L60,170.7C120,181,240,203,360,224C480,245,600,267,720,266.7C840,267,960,245,1080,229.3C1200,213,1320,203,1380,197.3L1440,192L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
                    </path>
                </svg>
                </div>
            </div>
            <div class="info-section">
                <h1>SAD</h1>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>